body{
    background-image: url(images/page\ background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.stayname{
    font-family: 'Brush Script MT', cursive;
    font-weight: 700;
    font-size: 35px;
    color: beige;
   
}

.navbar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    margin: 15px;
    position: absolute;
    right: 27%;
    top: 19px;
}

.navbar a{
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;
    color: beige;
}

.navbar a:hover{
    border-bottom: 2px solid red;
    color: red;
}

.reserve{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 21px;
    color: beige;
    font-family: sans-serif;
    border: 1px solid beige;
    padding: 10px;
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
}

.reserve:hover{
    color:black;
    background-color:white;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

#maintext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
    font-size: 500%;
    color: beige;
    position: absolute;
    left: 100px;
}

#sectext{
    padding: 10px;
    font-size: 100%;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    position: absolute;
    top: 78%;
    left: 192px;
}

#thirdtext{
    display: flex;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid beige;
    padding: 10px;
    border-radius: 25px;
    font-weight: 700;
    justify-content: center;
    width: 300px;
    font-size: larger;
    text-decoration: none;
    position: absolute;
    top: 650px;
    left: 38%;
}

#thirdtext:hover{
    color: rgb(2, 255, 2);
    border-color: rgb(0, 255, 34);
    width: 320px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
 
#forth{
    display: flex;
    position: absolute;
    top: 900px;
}

#forthimg{
    display: flex;
    height: 400px;
}

#forthtext{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 380%;
    padding: 30px;
}


#fifth{
    display: flex;
    position: absolute;
    top: 1350px;
}

#fifthimg{
    display: flex;
    height: 400px;
}

#fifthtext{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 380%;
    padding: 30px;
    text-transform: capitalize;
}


#sixthimg{
    display: flex;
    height: 833px;
    position: absolute;
    top: 1800px;
}

#sixthtext{
    display: flex;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 550%;
    padding: 0px 100px;
    color: beige;
    position: absolute;
    top: 2100px;
    text-transform: capitalize;
}

#seventhtext{
    display: flex;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid beige;
    padding: 10px;
    border-radius: 25px;
    font-weight: 700;
    margin: 0px 110px;
    position: absolute;
    top: 2500px;
    justify-content: center;
    width: 300px;
    font-size: larger;
    text-decoration: none;
}

#seventhtext:hover{
    color:red;
    border-color:red;
    width: 320px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.imgcontainer{
    display: flex;
    position: absolute;
    top: 2700px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.imgcontainer img{
    display: block;
    height: 400px;
    object-fit: cover;
    max-width: 1200px;
}

#review{
    font-size: 250%;
    display: flex;
    object-fit: contain;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3200px;
    left: 290px;
}

#reviewpara{
    font-family: sans-serif;
    font-size: 45%;
    position: relative;
    bottom: 65px;
    color: #182C61;
}

.reviewbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#reviewsection{
    border: 1px solid black;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    font-family: sans-serif;
    padding: 10px;
    border-radius: 25px;
    background-color: blanchedalmond;
    font-weight: 500;
}

#reviewbox{
    border: 1px solid black;
    height: 300px;
    width: 400px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: blanchedalmond;
}



#revbox{
    position: absolute;
    top: 3370px;
    right: 85px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-between;
    gap: 100px;
}

#sendmessage{
    padding: 5px;
    border: 1px solid black;
    border-radius: 25px;
}

#sendmessage:hover{
    background-color: rgb(250, 250, 52);
    transition-property: all;
    transition-timing-function: ease-in-out;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #006266;
    color: aliceblue;
    font-size: 100%;
    position: absolute;
    top: 4000px;
    width: 98.7%;
    padding: 50px 0px;
}

#hotel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#customer help{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    
#requiredtext{
    position: absolute;
    top: 3150px;
    left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    text-transform: capitalize;
}

#mail{
    cursor: pointer;
    font-size: larger;
}

#insta{
    color: inherit;
    font-size: larger;
}